[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/schwartz-lab-huji/schwartz-lab-huji.github.io.git
	branch = master
